<!DOCTYPE html><html>
<head>
<meta http-equiv="refresh" content="2;url=/">
<title>Berhasil</title><style>

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
background:linear-gradient(135deg,#55efc4,#81ecec);
}

.box{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
}

</style></head><body><div class="box">
<h2>✅ Absensi Berhasil</h2>
<p>Kembali ke halaman absen...</p>
</div></body>
</html>